#floatMenu {
		position:absolute;
		top:150px;
		left:2%;		
		width:80px;
		z-index:9999;
		}
	#fbtwitterlink
	 {
		position:absolute;
		top:180px;
		right:0px;		
		width:30px;		
		overflow:hidden;
		height:auto;
		z-index:9999;
		}
		
	#fbtwitterlink1
	 {
		position:absolute;
		top:320px;
		right:0px;			
		width:30px;
		overflow:hidden;
		height:auto;
		z-index:9999;
		}		