.clsfullnamebox, .clsemailbox, .clspasswordbox,.clsloginnamebox,.clsusernamebox, .clsloginpasswordbox{
	height:30px;
	width:350px;
	border:1px solid #c3c3c3;
	border-radius:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	padding:2px;
}
.clsfullnameboxdefault,.clsusernameboxdefault, .clsemailboxdefault, .clspasswordboxdefault,.clsloginnameboxdefault,.clsloginpasswordboxdefault,.clsaboutboxdefault {
	color:#CCC;
}
.clsaboutbox
{
	height:60px;
	max-width:350px;
	width:350px;
	border:1px solid #c3c3c3;
	border-radius:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	padding:2px;
}
.clsalertred
{
	color:#F00;	
}
.clsalertgreen
{
	color:#00FF00;
}
.realupload {
    position:absolute;
    top:10px;
    left:0;

    /* start of transparency styles */
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity:0);
    /* end of transparency styles */

    z-index:2; /* bring the real upload interactivity up front */
    width:122px;
	height:33px;
}